<h1>Find and Replace</h1>
<ol>
  <li>Field #1 enter some text to be searched</li>
  <li>Field #2 enter the word you would like to replace in field #1</li>
  <li>Filed #3 enter the word you would like to replace it with</li>
</ol>
<form action='/document'>
  <div class='form-group'>
    <input id='text' name='text' class='form-control' type='text' rows='3' placeholder='To be searched'>
  </div>
  <div class='form-group'>
    <input id='word' name='word' class='form-control' type='text' placeholder='Word to be replaced'>
  </div>
  <div class='form-group'>
    <input id='replace_with' name='replace_with' class='form-control' type='text' placeholder='Word to replace it with'>
  </div>

  <button type='submit' class='btn'>Search</button>
</form>
